.cache
.classpath
.history
.idea
.idea_modules
.project
.scala_dependencies
.settings
.worksheet/
*.class
*.DS_Store
*.log
*~
/.dotty-ide.json
/.vscode/
classes/
dist/*
lib_managed/
project/boot/
project/local-plugins.sbt
project/plugins/project/
src_managed/
target/
